<!doctype html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{#each htmlWebpackPlugin.tags.headTags}}
    {{{this}}}
    {{/each}}

</head>

<body>
    <div class="wrapper">
        <div class="content" id= "root"> 

        </div>
        <div class="visual">

        </div>
    </div>
    {{#each htmlWebpackPlugin.tags.bodyTags}}
    {{{this}}}
    {{/each}}
</body>

</html>